footer {
        background-color: black; /* Exemple de style */
        text-align: center;
        padding: 30px;
        /* Mon footer doit prendre toute la largeur */
  
    img {
            filter: brightness(0) invert(1); /* Rend l'image blanche */
            height: 30px;
    }
    p {
        font-family: "Montserrat", sans-serif;
        color: white;
    }
}