.about-fond{
    margin-bottom: 50px;
    height: 300px;
    width: 92%;
    border-radius: 20px;
    object-fit: cover;
    filter: brightness(0.7);
}

.accordion {
    width: 80%; 
    margin: 0 auto; // Centre horizontalement
}