$accordion-bg-color: #E76363;
$accordion-text-color: #FFFFFF;
$accordion-content-bg-color: #FFDADA;

div {
    .container_fond {
        display: flex;
        justify-content: center;
        .about-fond{
            margin-bottom: 50px;
            height: 300px;
            width: 92%;
            border-radius: 20px;
            object-fit: cover;
            filter: brightness(0.7);
        }
    }
.accordion {
    width: 80%; 
    margin: 0 auto; // Centre horizontalement
    .accordion-item {
        margin-bottom: 10px;
        border-radius: 5px;
        overflow: hidden;
        .accordion-title {
            background-color: $accordion-bg-color;
            color: $accordion-text-color;
            border: none;
            padding: 15px;
            cursor: pointer;
            width: 100%; // Prendre toute la largeur de l'élément parent
            text-align: left;
            font-size: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            outline: none;

            span {
                font-size: 20px;
            }

            &:hover {
                opacity: 0.9;
            }
        }
        .accordion-content {
            padding: 15px;
            background-color: $accordion-content-bg-color;
            border-top: 1px solid darken($accordion-bg-color, 10%);
        }
    }
  }
}